@charset "utf-8";
/* CSS Document */

#board {
	width: 700px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#player1-controls {
	width: 250px;
	height: 500px;
	float: left;
}

#player2-controls {
	width: 250px;
	height: 500px;
	float: right;
}

#game-controls {
	width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.row {
	width: 700px;
	height: 70px;
	margin: 0px;
}

.cell {
	display:inline-block;
	box-sizing:border-box;
	border: solid #000000 2px;
	height: 70px;
	width: 70px;
	margin: 0px;
}

.cell-accessible {
	background-color: beige;
}

.cell-inaccessible {
	background-color: slategray;
}