@charset "utf-8";
/* CSS Document */

#board {
	width: 700px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#player1-controls {
	width: 250px;
	height: 500px;
	float: left;
}

#player2-controls {
	width: 250px;
	height: 500px;
	float: right;
}

.player-name {
	text-align: center;	
}

.player-weapon {
	text-align: left;
}

#game-controls {
	width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.row {
	width: 700px;
	height: 70px;
	margin: 0px;
}

.cell, .player-weapon-icon {
	display:inline-block;
	box-sizing:border-box;
	border: solid #000000 2px;
	height: 70px;
	width: 70px;
	margin: 0px;
}

.cell-accessible {
	background-color: beige;
}

.cell-inaccessible {
	background-color: slategray;
}

.cell-movement {
	border-color: red;	
}

.cell-player1 {
	background-color: red;
}

.cell-player2 {
	background-color: blue;
}

.cell-weapon1 {
	background-color: crimson;
}

.cell-weapon2 {
	background-color: deepskyblue;
}

.cell-weapon3 {
	background-color: limegreen;
}

.cell-weapon4 {
	background-color: orchid;
}

.cell-weapon5 {
	background-color: tomato;
}

.cell-weapon6 {
	background-color: gold;
}